<html>
    <head>
        <title>Medical Search</title>
        <link href="/static/Flat-UI/app/css/vendor/boostrap.min.css" rel="stylesheet">
        <link href="/static/Flat-UI/app/css/flat-ui.css">
    </head>
    <body>
        <div class="pagination">
            <ul>
              <li class="previous"><a href="#fakelink" class="fui-arrow-left cc_pointer"></a></li>
              <li class="active"><a href="#fakelink">1</a></li>
              <li><a href="#fakelink">2</a></li>
              <li><a href="#fakelink">3</a></li>
              <li><a href="#fakelink">4</a></li>
              <li><a href="#fakelink">5</a></li>
              <li><a href="#fakelink">6</a></li>
              <li><a href="#fakelink">7</a></li>
              <li><a href="#fakelink">8</a></li>
              <li class="next"><a href="#fakelink" class="fui-arrow-right"></a></li>
            </ul>
        </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/static/Flat-UI/app/scripts/flat-ui.css">
    </body>
</html>